/* Form field */
input[type="text"],
input[type="email"],
textarea {
  position: relative;
  width: 100%;
  padding: 1.2rem;
  line-height: 1;
  border: 0.1rem solid var(--color-black);
  background-color: var(--color-white);
  box-shadow: none;
  outline: 0;
}

input[type="text"],
input[type="email"] {
  padding-right: 3rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 0.1rem solid var(--color-grey);
  background-color: var(--color-light-grey);
}

/* Placeholder */
::placeholder {
  font-style: italic;
  font-size: var(--font-size-small);
}
