/* Form group */
.form-group {
  padding: 1rem;
  margin: 0;
  background-color: var(--color-white);
}

.form-group:focus-within {
  background-color: var(--color-light-grey);
  transition: .3s;
}

/* Form field */
.form-field-container {
  position: relative;
}

.form-field-icon {
  font-style: normal;
}

/* Form help */
.form-help {
  margin: 0;
  line-height: 1.3;
  letter-spacing: .019rem;
  color: var(--color-dark-grey);
  font-size: var(--font-size-small);
  max-height: 0;
  transition: .3s;
  overflow: hidden;
}

.form-group:focus-within .form-help {
  max-height: 20rem;
  margin: .4rem 0 0;
}
