/* Helpers */
.off-screen {
  left: -100vw;
  position: absolute;
}

.skip-link {
  background: var(--color-black);
  color: var(--color-white);
  left: 0;
  padding: 0.7rem;
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 10;
  transform: translateY(-1rem);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.skip-link:focus {
  opacity: 1;
  transform: translateY(0);
}
