.post-comments {
    width: 80%;
    margin: 10rem 0 0 auto;
    padding-left: 7rem;
}

.post-comments .section-title {
    font-variant: small-caps;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 0;
}
