/* 07-styles.css */

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.form-search {
    display: inline-block;
    position: relative;
}

#search-input {
    display: inline-block;
    color: var(--color-white);
    padding-right: 2rem;
    height: 3rem;
    border: 0;
    outline: none;
    position: absolute;
    width: 0;
    right: 0;
    background: none;
    cursor: pointer;
    z-index: 3;
    transition: width .4s cubic-bezier(0, 0.795, 0, 1);
}

.form-search:focus-within #search-input {
    position: relative;
    width: 15rem;
    z-index: 1;
    border-bottom: .1rem solid var(--color-grey);
    padding: 0;
    cursor: text;
    margin: 0 1rem;
}

.search-button {
    display: inline-block;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.search-icon {
    fill: var(--color-white);
    width: 1.5rem;
    height: 1.5rem;
}
