/* Helpers */
.off-screen {
  position: absolute;
  left: -100vw;
}

.skip-link {
  background: var(--color-black);
  color: var(--color-white);
  left: 0;
  padding: .7rem;
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: 10;
  transform: translateY(-1rem);
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.skip-link:focus {
  opacity: 1;
  transform: translateY(0);
}
